/* Navbar.css */
body{
  background: rgba(53,50,49,1) 
}
.navbar {
    background-color: #333;
    color: #fff;

    display: flex;
    justify-content: space-between;
  }
  
  .left{
width: 30%;
  }
  .right{
width: 50%;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  
  }
  
  .navbar li {
    margin: 0 10px;
    font-weight: 700;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  