/* Chat.css */
.chat-container {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 75%;
  }
  
  .chat-messages {
height: 90%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-message {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .ai-message {
    background-color: #e0e0e0;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .sendbtn{
    background-color: #7c67ff;
  }