@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body::-webkit-scrollbar-track {
  background-color: #b6a8b4;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #42275a;
}

img {
  max-width: 100%;
}

.head {
  text-align: left;
  font-size: 1rem;
  color: #000;
  margin: 20px;
}

.search {
  height: 100px;
  display: grid;
  place-content: center;
}

.search-box {
  display: flex;
  transition: all 0.2s ease;
}

.search-box:focus-within {
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
}

.search-box input {
  appearance: none;
  border: 0;
  outline: 0;
  height: 40px;
  background-color: white;
  padding: 0 10px;
  min-width: 350px;
}

.search-box button {
  appearance: none;
  border: 0;
  outline: 0;
  height: 40px;
  background-color: white;
  padding: 0 10px;
  cursor: pointer;
}

.cards {
  animation: poof 0.5s;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  padding: 10px;
  gap: 10px;
  min-height: 68vh;
  align-items: start;
}

.card {
  opacity: 0;
  animation: poof 0.5s forwards;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
}

.card:hover {
  img {
    transform: scale(1.04);
  }
}

.card img {
  cursor: pointer;
  display: block;
  width: 100%;
}

.show-expand {
  z-index: 100000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.show-expand::-webkit-scrollbar-track {
  background-color: transparent;
}

.show-expand::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.show-expand::-webkit-scrollbar-thumb {
  background-color: #42275a;
}

.show-content {
  position: relative;
  display: flex;
  min-height: 400px;
  animation: poof 0.5s;
  overflow: hidden;
  margin: 12px auto;
  width: 100%;
  max-width: 800px;
  color: #fff;
  background: linear-gradient(to left, #3ca55c, #56ab2f);
  border-radius: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 30px 18px -24px;
}

.show-poster {
  position: relative;
  display: flex;
}

.show-poster-bg {
  position: absolute;
  overflow: hidden;
  top: -20%;
  bottom: -20%;
  left: -20%;
  width: 100%;
  height: 150%;
  transform: rotate(5deg);
}

.show-poster-bg img {
  filter: blur(6px);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.show-poster-main {
  position: relative;
  left: 56px;
  align-self: center;
  overflow: hidden;
  width: 140px;
  background-color: gainsboro;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 6px 12px -6px;
  z-index: 1;
}

.show-poster-main img {
  width: 140px;
  vertical-align: middle;
}

.show-detail {
  flex: 1;
  padding: 72px;
}

.show-detail h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 12px;
}

.show-tags {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  color: lighten(#a8e063, 20%);
  list-style: none;
  margin-bottom: 12px;
}

.show-tags li {
  display: inline-block;
  margin-right: 12px;
  font-size: 0.9em;
  line-height: 1.5;
}

.show-plot {
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 12px;
}

.show-credits p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.show-close {
  z-index: 1;
  font-size: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  margin: auto;
  padding: 15px 20px;
  cursor: pointer;
}

.loader,
.error {
  grid-column: 1/-1;
  text-align: center;
  font-size: 24px;
  animation: poof 0.5s;
  color: #a8e063;
}

.pagination {
  margin: 15px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  outline: none;
}

.pagination li{
    margin-right: 5px;
}
.pagination li a {
    border: 1px solid #121118;
    color: #000;
    border-radius: 50%; 
    padding: 10px; 
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    
  }
  
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    background-color: #7c67ff;
    border-color: #fff;
    outline: none;
  }
  
  .pagination > li > a,
  .pagination > li > span {
    color: #000;
  }
  
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-radius: 50%; 
  }

.pagination > li > a,
.pagination > li > span {
  color: #000;
}


@keyframes poof {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.closebtn{
    cursor: pointer;
}