.movie-card-container{
    display: flex;
margin:auto;
justify-content: space-between;
}

.movie-page h2{
margin-top:4%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: capitalize;
font-size: 2rem;
margin-left: 12px;
text-decoration: underline;
}